<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd">

    <bean id="propertyConfigurer"
          class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:db.properties</value>
                <value>classpath:upload-config.properties</value>
            </list>
        </property>
    </bean>

    <bean id="ueditorFileUploadPath" class="java.lang.String">
        <constructor-arg index="0" value="${ueditor.fileUploadPath}"></constructor-arg>
    </bean>

    <bean id="ueditorHttpPath" class="java.lang.String">
        <constructor-arg index="0" value="${ueditor.httpPath}"></constructor-arg>
    </bean>

    <bean id="categoryFileUploadPath" class="java.lang.String">
        <constructor-arg index="0" value="${category.fileUploadPath}"></constructor-arg>
    </bean>

    <bean id="categoryHttpPath" class="java.lang.String">
        <constructor-arg index="0" value="${category.httpPath}"></constructor-arg>
    </bean>

    <!-- cacheManager, 指定ehcache.xml的位置 -->
    <bean id="ehCacheManager" class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean">
        <property name="configLocation" value="classpath:ehcache.xml" />
        <!-- 由于mybatis也使用了Ehcache, 保证双方都使用同一个缓存管理器 -->
        <property name="shared" value="true"/>
    </bean>

    <!-- 扫描包里下的所有class文件，配置注解的类全都装入容器中进行管理 -->
    <context:component-scan base-package="cn.facilityone.service"/>

    <!-- 导入mybatis配置文件 -->
    <import resource="classpath:/tddl-context.xml"/>
    <import resource="classpath:/dao-config.xml"/>
</beans>